.main-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
}

.narrow-container {
  max-width: 960px !important;
}

/** override bulma default to make modal header look good */
.modal-card-title {
  margin-bottom: 0 !important;
}