@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,900");

.main-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout {
  flex: 1;
}

.narrow-container {
  max-width: 920px !important;
}

/** override bulma default to make modal header look good */
.modal-card-title {
  margin-bottom: 0 !important;
}

.message-header {
  margin-bottom: 0 !important;
}

.logo-icon {
  width: 40px;
  height: 40px;
  padding: 6px;
  vertical-align: middle;
}

.logo-icon-small {
  width: 32px;
  height: 32px;
  padding: 6px;
  vertical-align: middle;
}

.logo-holder {
  background-color: darkslateblue;
  border-radius: 5px;
}

.logo-text {
  font-weight: 900;
  font-family: "Nunito", monospace;
}

.simple-card {
  box-shadow: none;
  background: #fcfcfc !important;
}

.no-highlight {
  color: inherit !important;
}

.cover-fit {
  object-fit: cover;
}

a.underlined-style {
  text-decoration: underline !important;
  color: inherit !important;
}

p.light-border {
  border: 1px solid hsl(0, 0%, 71%); /* has-text-grey-light */
  border-radius: 10px;
  padding: 10px;
}
